@font-face
{
  font-family: "Raleway" ;
  src: url('fonts/Raleway-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: "RalewayBold" ;
  src: url('fonts/Raleway-Bold.ttf');
  font-weight: Bold;
  font-style: Bold;
}

/*RESETS*/

ul
{
  padding: 0;
  margin: 0;
  list-style-type: none;
}



body
{
  background-color: white;
  margin: 0;
  max-width: 100%;
}

.header
{
  display: flex;
  justify-content: space-between ;
  padding-top: 20px;
  padding-left: 30px;
  height: auto;

}

.logo
{
  margin-left: 15px ;
  display: flex;
  justify-content: flex-start;
  float: left;
  padding-left: 30px;
}

nav
{
  text-align: right;
  float: right ;
  display: flex;
  justify-content: flex-end;

}

nav ul
{
    list-style-type: none;
    display: flex;
    margin-top: 0px;
    padding-top: 16px;

}

nav li
{
  font-family: "Raleway" ;
  font-size: 1.1em;
  margin-left: 20px ;
  margin-right: 80px;
}

nav a
{
  color: black ;
  text-decoration: none;
}

nav a:hover
{
  font-family: "RalewayBold";
  border-top: 2px solid #0065FC  ;
  color: #0065FC;
  margin-left: -2.35px;
  padding-top: 34px;
  text-shadow: 1px 1px 300px #0065FC ;
}

.inscrire:hover
{
  margin-left: 0px;
}

.inscrire
{
  color: #0065FC;
}



section
{
    font-family: "Raleway"
}

.title-search
{
  padding: 0 0 0 30px;
}

.title-search h3
{
  font-size: 1em;
  font-weight: normal;
}

.title-search h2
{
  font-size: 1.3em;

}

.title-search ul
{
  list-style-type: none;
  display: flex;
  width: 60% ;
  justify-content: space-around;
  font-family: "RalewayBold";
}

.title-search ul a
{
  text-decoration: none;
  color: black;
}

.title-search ul i
{
  margin-right: 30px;
}

.title-search ul a:hover
{
  color: #0065FC;

}

.title-search ul li
{
  font-size: 1.1em;
}

.title-search p i
{

  padding-right: 20px;
}

form
{
  display: flex;
}



::placeholder
{
  color: Black;

}

.search-zone
{
  border: none;
  outline: none;
  padding: 9px 11px 11px 7px ;
  font-family: "RalewayBold";
  font-size: 1.2em;
  background-color: #DEEBFF;

}

.search-zone:active
{
  border: none;
}


#bouton
{
  border-top: 6px solid #DEEBFF;
  border-right: 5px solid #DEEBFF;
  border-bottom: 5px solid #DEEBFF;
  border-left: 1px solid #DEEBFF;
  background-color: #0065FC;
  color: white;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  padding: 12px 15px 12px 12px ;
  margin: 0 0 0 -5px;
  font-size: 0.9em;
  font-family: "RalewayBold";
}

#bouton:hover
{
  border: 1px inset black;
  margin-top: 5px;
  margin-bottom: 4px;
}

#search
{
  font-size: 1em;
}

#info
{
  font-size: 0.8em;
}

.title-search p
{
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 1em;
  margin-left: 50px
}

#Group
{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 50px;
  border: 10px solid transparent;
  border-radius: 30px 30px;
  background-color: #F2F2F2;
  width: 95%;
}

.element:nth-child(1)
{
  flex: 5;
}

.element:nth-child(2)
{
  flex: 2;
}

#aside
{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

#aside li ul li
{
  margin-top: 10px;

}

#aside li ul
{
  display: flex;

}
#aside li ul li ul
{
  display: flex;
  flex-direction: column;
  
}

#aside li
{
  border: 10px solid transparent;
  border-radius: 30px 30px ;
  background-color: white;
}

#aside img
{
  width: 170px;
  height: 170px;
  object-fit: cover;
  border: 10px solid transparent;
  border-radius: 30px 30px ;
}

#aside a
{
  text-decoration: none;
  color: black;
}

#aside a:hover
{
  text-decoration: underline;
  color: #0065FC;
}


#element2
{
  margin-left: 50px;
}

.l1
{
  list-style-type: none;
  display: flex;
  width: auto;
  height: auto;

 
}

.img-txt
{

}

.l1 ul
{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 2px;
  width: 87%;
  height: 95%;
  border: 10px solid white;
  border-radius: 30px 30px;
  background-color: white;
}

.l2
{
  list-style-type: none;

  display: flex;
  width: auto;
  height: auto;
 
  
}

.l2 ul
{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border: 10px solid transparent;
  border-radius: 30px 30px;
  background-color: white;
}

#Hébergements img
{
  
  width: 98%;
  max-height: 60%;
  
  object-fit: cover;
  resize: both;
  
}

#Hébergements a
{
  text-decoration: none;
  color: black;
}

#Hébergements
{
  
}

#Hébergements a:hover
{
  text-decoration: underline;
  color: #0065FC;
}

#Hébergements h2
{
  font-size: 1.3em;
  margin-left: 80px;
}

.blueicon
{
  color: #0065FC;
}

.greyicon
{
  color: #F2F2F2;
}

#filtericon
{

  border: 5px solid #F2F2F2;
  border-radius: 50px 50px;
  padding: 4px 4px 4px 4px;
}

#Hébergements .name
{
  font-size: 1.1em;
}

#chart
{
  font-size: 1.5em;
}

#pop
{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 90px
}

#plus
{
  font-size: 1.2em;
  margin-top: 50px;
  margin-left: 70px;
  padding-bottom: 50px
}

#plus a
{
  text-decoration: none;
  color: black;
  font-family: "RalewayBold"
}

#aside #icon
{
  margin-top: 15px
}


#Activités
{
  width: 90%;
  margin-top: 40px;
  padding-bottom: 40px;
}
#Activités h2
{
  font-size: 1.3em;
  margin-left: 40px;
}

#actimg
{
  display: flex;

}

#actimg img
{
  object-fit: cover;
  border: 15px solid #DEEBFF;
  border-top-left-radius: 30px 30px ;
  border-top-right-radius: 30px 30px ;
}

#act1 img
{
  width: 250px;
  height: 500px;
}

#act2
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

#act2 img
{
  width: 250px;
  height: 150px;
}

#actimg figcaption
{
  margin-top: 10px;
  margin-left: 10px;
}


.strong
{
  font-family: "RalewayBold"
}


.footer
{
  background-color: #F2F2F2;
  font-family: "Raleway" ;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 50px 50px;
}

.footer-container
{
  width: 1360px;
  list-style-type: none ;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.footer-about h2, .footer-host h2, .footer-help h2
{
  font-family: "RalewayBold" ;
  font-size: 1.4em;
}

.footer-about a, .footer-host a, .footer-help a
{
  text-decoration: none;
  color: black;
}

.footer-about a:hover, .footer-host a:hover, .footer-help a:hover
{
  font-family: "RalewayBold" ;
  border-bottom: 1px solid #0065FC ;
  text-shadow: 2px 2px 20px #0065FC ;
}

