@font-face
{
  font-family: "Raleway" ;
  src: url('fonts/Raleway-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: "RalewayBold" ;
  src: url('fonts/Raleway-Bold.ttf');
  font-weight: Bold;
  font-style: Bold;
}


body
{
  background-color: #DEEBFF;
  margin-top: 0px;
  margin-left: 30px;
}

.header
{
  display: flex;
  justify-content: space-between ;
  padding-top: 20px;
  height: auto;

}

.logo
{
  margin-left: 15px ;
  display: flex;
  justify-content: flex-start;
  float: left;
}

nav
{
  text-align: right;
  float: right ;
  display: flex;
  justify-content: flex-end;

}

nav ul
{
    list-style-type: none;
    display: flex;
    margin-top: 0px;
    padding-top: 16px;

}

nav li
{
  font-family: "Raleway" ;
  font-size: 1.1em;
  margin-left: 20px ;
  margin-right: 80px;
}

nav a
{
  color: black ;
  text-decoration: none;
}

nav a:hover
{
  font-family: "RalewayBold";
  border-top: 2px solid #0065FC  ;
  color: #0065FC;
  margin-left: -2.35px;
  padding-top: 34px;
  text-shadow: 1px 1px 300px #0065FC ;
}

.inscrire:hover
{
  margin-left: 0px;
}

.inscrire
{
  color: #0065FC;
}

#Group
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.element:nth-child(1)
{
  flex: 5
}

.element:nth-child(2)
{
  flex: 2
}

section
{
    font-family: "Raleway"
}

section header h3
{
  font-size: 1em;
  font-weight: normal;
}

section header h2
{
  font-size: 1.3em;

}

section header ul
{
  list-style-type: none;
  display: flex;
  width: 60% ;
  justify-content: space-between;
  font-family: "RalewayBold";
}

section header ul a
{
  text-decoration: none;
  color: black;
}

section header ul i
{
  margin-right: 30px;
}

section header ul a:hover
{
  color: #0065FC;

}

section header ul li
{
  font-size: 1.1em;
}

section header p i
{

  padding-right: 20px;
}

form
{
  display: flex;
}

::placeholder
{
  color: Black;
  font-size: 1.2em;
}

input
{
  border: none;
}

#bouton
{
  border: 5px solid white;
  background-color: #0065FC;
  color:white;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  font-size: 1.2em;
}

#search
{
  font-size: 1em;
}

#info
{
  font-size: 0.8em;
}

section header p
{
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 1em;
  margin-left: 50px
}

.l1 li ul li
{
  margin-top: 10px;

}

.l2 li ul li
{
  margin-top: 10px;

}

#aside
{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#aside li ul li
{
  margin-top: 10px;

}

#aside li ul
{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

}
#aside li ul li ul
{
  display: flex;
  flex-direction: column;
  margin-left: -30px;
}

#aside img
{
  width: 170px;
  height: 170px;
  object-fit: cover;
  border: 15px solid white;
  border-top-left-radius: 30px 30px ;
  border-bottom-left-radius: 30px 30px ;
}

#aside a
{
  text-decoration: none;
  color: black;
}

#aside a:hover
{
  text-decoration: underline;
  color: #0065FC;
}


#element2
{
  margin-left: 50px;
}

.l1
{
  list-style-type: none;
  display: flex;
  width: auto;
  height: auto;
  flex-wrap: wrap;

}

.l1 ul
{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  width: auto;
  height: auto;

}

.l2
{
  list-style-type: none;

  display: flex;
  width: auto;
  height: auto;
  flex-wrap: wrap;
}

.l2 ul
{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

#Hébergements img
{
  margin-left: -14px;
  margin-bottom: -18px ;
  min-width: 300px;
  max-height: 170px;
  border: 15px solid white;
  border-top-left-radius: 30px 30px ;
  border-top-right-radius: 30px 30px ;
  object-fit: cover;
  resize: both;

}

#Hébergements a
{
  text-decoration: none;
  color: black;
}

#Hébergements a:hover
{
  text-decoration: underline;
  color: #0065FC;
}

#Hébergements h2
{
  font-size: 1.3em;
  margin-left: 80px;
}

#icon
{
  color: #0065FC;
}

#Hébergements .name
{
  font-size: 1.1em;
}

#chart
{
  font-size: 1.5em;
}

#pop
{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 90px
}

#plus
{
  font-size: 1.2em;
  margin-top: 50px;
  margin-left: 70px;
  padding-bottom: 50px
}

#plus a
{
  text-decoration: none;
  color: black;
  font-family: "RalewayBold"
}

#aside #icon
{
  margin-top: 15px
}


#Activités
{
  width: 90%;
  margin-top: 40px;
  padding-bottom: 40px;
}
#Activités h2
{
  font-size: 1.3em;
  margin-left: 40px;
}

#actimg
{
  display: flex;

}

#actimg img
{
  object-fit: cover;
  border: 15px solid white;
  border-top-left-radius: 30px 30px ;
  border-top-right-radius: 30px 30px ;
}

#act1 img
{
  width: 355px;
  height: 600px;
}

#act2
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#act2 img
{
  width: 355px;
  height: 200px;
}

#actimg figcaption
{
  margin-top: 10px;
  margin-left: 10px;
}


.strong
{
  font-family: "RalewayBold"
}


footer
{
  background-color: #F2F2F2;
  width: auto;
  font-family: "Raleway" ;
  display: flex;
  margin-left: auto;
  margin-right: 500px;
  justify-content: space-between;
}

footer ul
{
  width: auto;
  list-style-type: none ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



footer h2
{
  font-family: "RalewayBold" ;
  font-size: 1.4em;
}

footer a
{
  text-decoration: none;
  color: black;
}

footer a:hover
{
  font-family: "RalewayBold" ;
  border-bottom: 1px solid #0065FC ;
  text-shadow: 2px 2px 20px #0065FC ;
}
